	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/09/2019 18:43
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticon-1.eot") format("embedded-opentype"),
       url("fonts/Flaticon.woff2") format("woff2"),
       url("fonts/Flaticon.woff") format("woff"),
       url("fonts/Flaticon.ttf") format("truetype"),
       url("fonts/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts/Flaticon.svg") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-car-parts:before { content: "\f100"; }
.flaticon-engineer:before { content: "\f101"; }
.flaticon-worker:before { content: "\f102"; }
.flaticon-plug:before { content: "\f103"; }
.flaticon-double-quotes:before { content: "\f104"; }
.flaticon-add:before { content: "\f105"; }
.flaticon-phone-call:before { content: "\f106"; }
.flaticon-email:before { content: "\f107"; }
.flaticon-clock:before { content: "\f108"; }
.flaticon-shopping-cart:before { content: "\f109"; }
.flaticon-magnifying-glass:before { content: "\f10a"; }
.flaticon-manufacturer:before { content: "\f10b"; }
.flaticon-oil:before { content: "\f10c"; }
.flaticon-piston:before { content: "\f10d"; }
.flaticon-helmet:before { content: "\f10e"; }
.flaticon-creativity:before { content: "\f10f"; }
.flaticon-shield:before { content: "\f110"; }
.flaticon-customer-service:before { content: "\f111"; }
.flaticon-quotation-mark:before { content: "\f112"; }
.flaticon-lightbulb:before { content: "\f113"; }
.flaticon-padlock:before { content: "\f114"; }
.flaticon-time-left:before { content: "\f115"; }
.flaticon-paint-brushes:before { content: "\f116"; }
.flaticon-science:before { content: "\f117"; }
.flaticon-tractor:before { content: "\f118"; }
.flaticon-robot-arm:before { content: "\f119"; }
.flaticon-valve:before { content: "\f11a"; }
.flaticon-oil-1:before { content: "\f11b"; }
.flaticon-latex:before { content: "\f11c"; }
.flaticon-puzzle:before { content: "\f11d"; }
.flaticon-car:before { content: "\f11e"; }
.flaticon-sprout:before { content: "\f11f"; }
.flaticon-process:before { content: "\f120"; }
.flaticon-sketch:before { content: "\f121"; }
.flaticon-clock-1:before { content: "\f122"; }
.flaticon-loft-with-windows:before { content: "\f123"; }
.flaticon-shield-1:before { content: "\f124"; }